Overall Goal:
To merge three different datasets into one comprehensive dataset and then determine the top 5 performing categories based on the total scores of reactions.

In [19]:

import pandas as pd

# Load data into pandas DataFrames
reaction_df = pd.read_csv('Reactions.csv')
content_df = pd.read_csv('Content.csv')
reaction_types_df = pd.read_csv('ReactionTypes.csv')

In [12]:
reaction_df

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [13]:
content_df

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [14]:
# Display column names and first few rows of each DataFrame
print(reaction_df.columns)
print(reaction_df.head())

print(content_df.columns)
print(content_df.head())

print(reaction_types_df.columns)
print(reaction_types_df.head())

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'], dtype='object')
   Unnamed: 0                            Content ID  \
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1           1  97522e57-d9ab-4bd6-97bf-c24d952602d2
2           2  97522e57-d9ab-4bd6-97bf-c24d952602d2
3           3  97522e57-d9ab-4bd6-97bf-c24d952602d2
4           4  97522e57-d9ab-4bd6-97bf-c24d952602d2

                                User ID     Type             Datetime
0                                   NaN      NaN  2021-04-22 15:17:15
1  5d454588-283d-459d-915d-c48a2cb4c27f  disgust  2020-11-07 09:43:50
2  92b87fa5-f271-43e0-af66-84fac21052e6  dislike  2021-06-17 12:22:51
3  163daa38-8b77-48c9-9af6-37a6c1447ac2   scared  2021-04-18 05:13:58
4  34e8add9-0206-47fd-a501-037b994650a2  disgust  2021-01-06 19:13:01
Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')
   Unnamed: 0                            Content ID  \
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3           3  356fff80-da4d-4785-9f43-bc1261031dc6
4           4  01ab84dd-6364-4236-abbb-3f237db77180

                                User ID   Type        Category  \
0  8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo        Studying
1  beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo  healthy eating
2  a5c65404-5894-4b87-82f2-d787cbee86b4  photo  healthy eating
3  9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo      technology
4  e206e31b-5f85-4964-b6ea-d7ee5324def1  video            food

                                                 URL
0  https://socialbuzz.cdn.com/content/storage/975...
1  https://socialbuzz.cdn.com/content/storage/9f7...
2  https://socialbuzz.cdn.com/content/storage/230...
3  https://socialbuzz.cdn.com/content/storage/356...
4  https://socialbuzz.cdn.com/content/storage/01a...
Index(['Unnamed: 0', 'Type', 'Sentiment', 'Score'], dtype='object')
   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [28]:
# Ensure that 'Type' column exists in both DataFrames
print("Columns in merged_df after first merge:")
merged_df_temp = pd.merge(reaction_df, content_df, on='Content ID', how='left')
print(merged_df_temp.columns)

Columns in merged_df after first merge:
Index(['Unnamed: 0_x', 'Content ID', 'User ID_x', 'Type_x', 'Datetime',
       'Unnamed: 0_y', 'User ID_y', 'Type_y', 'Category', 'URL'],
      dtype='object')

In [29]:
print("Columns in reaction_types_df:")
print(reaction_types_df.columns)

Columns in reaction_types_df:
Index(['Unnamed: 0', 'Type', 'Sentiment', 'Score'], dtype='object')

In [31]:
# Ensure 'Type' column exists in merged_df
if 'Type_x' in merged_df.columns:
    merged_df.rename(columns={'Type_x': 'Type'}, inplace=True)
elif 'Type' not in merged_df.columns:
    raise KeyError("'Type' column is missing after the first merge.")

In [35]:
print("Missing values in 'Type' column of merged_df:", merged_df['Type'].isnull().sum())

Missing values in 'Type' column of merged_df: 980

In [36]:

# Drop rows with missing 'Type' values in merged_df
merged_df.dropna(subset=['Type'], inplace=True)

In [37]:
# Merge with reaction_types_df on 'Type'
merged_df = pd.merge(merged_df, reaction_types_df, on='Type', how='left')
print("Columns in merged_df after second merge:", merged_df.columns)

Columns in merged_df after second merge: Index(['Unnamed: 0_x', 'Content ID', 'User ID_x', 'Type', 'Datetime',
       'Unnamed: 0_y', 'User ID_y', 'Type_y', 'Category', 'URL', 'Unnamed: 0',
       'Sentiment', 'Score'],
      dtype='object')

In [38]:
# Select only the columns you need in the final merged DataFrame
final_df = merged_df[['Content ID', 'User ID_x', 'Type', 'Datetime', 'Score', 'Category', 'Sentiment']]

In [39]:

# Optionally, clean and process data further as needed
# Example: Handle missing values, data type conversions, etc.
final_df.dropna(inplace=True)  # Drop rows with any NaN values
final_df.reset_index(drop=True, inplace=True)  # Reset index if needed

C:\Users\HP\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [40]:
# Display the final merged DataFrame
print(final_df.head())

                             Content ID                             User ID_x  \
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  5d454588-283d-459d-915d-c48a2cb4c27f
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  92b87fa5-f271-43e0-af66-84fac21052e6
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  163daa38-8b77-48c9-9af6-37a6c1447ac2
3  97522e57-d9ab-4bd6-97bf-c24d952602d2  34e8add9-0206-47fd-a501-037b994650a2
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4

         Type             Datetime  Score  Category Sentiment
0     disgust  2020-11-07 09:43:50      0  Studying  negative
1     dislike  2021-06-17 12:22:51     10  Studying  negative
2      scared  2021-04-18 05:13:58     15  Studying  negative
3     disgust  2021-01-06 19:13:01      0  Studying  negative
4  interested  2020-08-23 12:25:58     30  Studying  positive

In [41]:
# Calculate total scores for each category
category_scores = final_df.groupby('Category')['Score'].sum().reset_index()

In [42]:
category_scores

             Category  Score
0           "animals"   1519
1           "cooking"    644
2           "culture"   1980
3              "dogs"   1618
4              "food"     50
5   "public speaking"    894
6           "science"    506
7            "soccer"   2243
8          "studying"    486
9        "technology"    939
10         "veganism"   1040
11            Animals   3561
12            Culture   1450
13          Education   1218
14            Fitness   5017
15               Food   3142
16     Healthy Eating    272
17    Public Speaking   1231
18            Science   4324
19             Soccer   2516
20           Studying   1176
21         Technology    217
22             Travel   1010
23           Veganism    579
24            animals  63544
25            cooking  58530
26            culture  57233
27               dogs  46780
28          education  51541
29            fitness  45818
30               food  58406
31     healthy eating  62866
32    public speaking  43626
33            science  60575
34             soccer  48457
35           studying  47780
36         technology  61879
37             tennis  46185
38             travel  58348
39           veganism  44282

In [44]:
# Sort categories by total score in descending order
category_scores = category_scores.sort_values(by='Score', ascending=False)

In [45]:
category_scores

             Category  Score
24            animals  63544
31     healthy eating  62866
36         technology  61879
33            science  60575
25            cooking  58530
30               food  58406
38             travel  58348
26            culture  57233
28          education  51541
34             soccer  48457
35           studying  47780
27               dogs  46780
37             tennis  46185
29            fitness  45818
39           veganism  44282
32    public speaking  43626
14            Fitness   5017
18            Science   4324
11            Animals   3561
15               Food   3142
19             Soccer   2516
7            "soccer"   2243
2           "culture"   1980
3              "dogs"   1618
0           "animals"   1519
12            Culture   1450
17    Public Speaking   1231
13          Education   1218
20           Studying   1176
10         "veganism"   1040
22             Travel   1010
9        "technology"    939
5   "public speaking"    894
1           "cooking"    644
23           Veganism    579
6           "science"    506
8          "studying"    486
16     Healthy Eating    272
21         Technology    217
4              "food"     50

In [46]:
# Get top 5 performing categories
top_5_categories = category_scores.head(5)

In [47]:
top_5_categories

          Category  Score
24         animals  63544
31  healthy eating  62866
36      technology  61879
33         science  60575
25         cooking  58530

In [48]:
print("Top 5 performing categories:")
print(top_5_categories)

Top 5 performing categories:
          Category  Score
24         animals  63544
31  healthy eating  62866
36      technology  61879
33         science  60575
25         cooking  58530