In [5]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [6]:
phonedata=pd.read_csv("cleandata.csv")
phonedata

      MAKE  COLOUR  MEMORY  SIMCARD   PRICE
0    nokia  white   163738        4   23555
1  samsung     red    2373        4   24456
2    nokia    blue    4567        4  445566
3   iphone  black      443        4    4444
4  qmobile  white     2345        4   34567
5  samsung  white    13456        4   43223
6      NAN    blue     236        4   34567
7   iphone    blue     346        4   65444

In [8]:
phonedata.dtypes

MAKE       object
COLOUR     object
MEMORY      int64
SIMCARD     int64
PRICE       int64
dtype: object

In [15]:
# Assuming 'data' is your original dataset
# Separate the target variable (y) from the input features (x)
x = phonedata.drop('PRICE', axis=1)

In [16]:
x

      MAKE  COLOUR  MEMORY  SIMCARD
0    nokia  white   163738        4
1  samsung     red    2373        4
2    nokia    blue    4567        4
3   iphone  black      443        4
4  qmobile  white     2345        4
5  samsung  white    13456        4
6      NAN    blue     236        4
7   iphone    blue     346        4

In [18]:
y = phonedata['PRICE']
y

0     23555
1     24456
2    445566
3      4444
4     34567
5     43223
6     34567
7     65444
Name: PRICE, dtype: int64

# splitting

In [24]:
x = phonedata.drop('PRICE', axis=1)
y = phonedata['PRICE']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x,y

(      MAKE  COLOUR  MEMORY  SIMCARD
 0    nokia  white   163738        4
 1  samsung     red    2373        4
 2    nokia    blue    4567        4
 3   iphone  black      443        4
 4  qmobile  white     2345        4
 5  samsung  white    13456        4
 6      NAN    blue     236        4
 7   iphone    blue     346        4,
 0     23555
 1     24456
 2    445566
 3      4444
 4     34567
 5     43223
 6     34567
 7     65444
 Name: PRICE, dtype: int64)

# fit model

In [27]:
from sklearn.ensemble import RandomForestRegressor
phone_model=RandomForestRegressor()
phone_model.fit(x_train,y_train)
phone_model.score(x_test,y_test)

ValueError: could not convert string to float: 'iphone'

# Conversion

In [56]:
transformed_x=pd.get_dummies(phonedata[["MAKE"]])
transformed_x

   MAKE_NAN  MAKE_iphone  MAKE_nokia  MAKE_qmobile  MAKE_samsung
0         0            0           1             0             0
1         0            0           0             0             1
2         0            0           1             0             0
3         0            1           0             0             0
4         0            0           0             1             0
5         0            0           0             0             1
6         1            0           0             0             0
7         0            1           0             0             0

In [60]:
transformed=pd.get_dummies(phonedata[["COLOUR"]])
transformed

   COLOUR_black   COLOUR_blue  COLOUR_red  COLOUR_white
0              0            0           0              1
1              0            0           1              0
2              0            1           0              0
3              1            0           0              0
4              0            0           0              1
5              0            0           0              1
6              0            1           0              0
7              0            1           0              0

# lets refit model

In [75]:
x_train,x_test,y_train,y_test=train_test_split(transformed_x,y, test_size=0.2)
phone_model.fit(x_train,y_train);
phone_model.score(x_test,y_test)

-0.9647489959197244

# phonedata missing value

In [76]:
phonedata_missing=pd.read_csv("phones_data_missing.csv")

In [77]:
phonedata_missing

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690,1529.0,1819.0,36,5.00,8.0,2000.0,Oct-20
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803,1659.0,2489.0,36,5.00,16.0,2000.0,Sep-20
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803,1659.0,2489.0,36,5.00,16.0,2000.0,Sep-20
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803,1659.0,2489.0,36,5.00,16.0,2000.0,Sep-20
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999,NaN,NaN,10,5.71,16.0,3000.0,Apr-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,1219,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685,16018.0,27900.0,61,6.50,64.0,3174.0,Sep-18
1220,1220,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600,21939.0,33720.0,28,6.50,64.0,3174.0,Sep-18
1221,1221,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804,7999.0,9999.0,18,6.26,128.0,3750.0,Nov-19
1222,1222,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755,18500.0,19010.0,2,6.65,128.0,4500.0,Oct-20
1223,1223,Sigma mobile,x-style 35 Screen,NaN,952,907,785.0,944.0,75,3.50,NaN,1750.0,Jan-20

In [79]:
phonedata_missing.isna().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      260
highest_price     260
sellers_amount      0
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

# ist method

In [82]:
phonedata_missing["os"].fillna("missing",inplace=True)

In [84]:
phonedata_missing["lowest_price"].fillna("missing",inplace=True)

In [88]:
phonedata_missing["highest_price"].fillna("missing",inplace=True)
phonedata_missing["screen_size"].fillna("missing",inplace=True)
phonedata_missing["memory_size"].fillna("missing",inplace=True)
phonedata_missing["battery_size"].fillna("missing",inplace=True)

In [89]:
phonedata_missing

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690,1529.0,1819.0,36,5.0,8.0,2000.0,Oct-20
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803,1659.0,2489.0,36,5.0,16.0,2000.0,Sep-20
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803,1659.0,2489.0,36,5.0,16.0,2000.0,Sep-20
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803,1659.0,2489.0,36,5.0,16.0,2000.0,Sep-20
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999,missing,missing,10,5.71,16.0,3000.0,Apr-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,1219,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685,16018.0,27900.0,61,6.5,64.0,3174.0,Sep-18
1220,1220,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600,21939.0,33720.0,28,6.5,64.0,3174.0,Sep-18
1221,1221,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804,7999.0,9999.0,18,6.26,128.0,3750.0,Nov-19
1222,1222,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755,18500.0,19010.0,2,6.65,128.0,4500.0,Oct-20
1223,1223,Sigma mobile,x-style 35 Screen,missing,952,907,785.0,944.0,75,3.5,missing,1750.0,Jan-20

In [90]:
phonedata_missing.isna().sum()

Unnamed: 0        0
brand_name        0
model_name        0
os                0
popularity        0
best_price        0
lowest_price      0
highest_price     0
sellers_amount    0
screen_size       0
memory_size       0
battery_size      0
release_date      0
dtype: int64

In [92]:
phonedata_missing.dropna(inplace=True)
phonedata_missing

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690,1529.0,1819.0,36,5.0,8.0,2000.0,Oct-20
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803,1659.0,2489.0,36,5.0,16.0,2000.0,Sep-20
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803,1659.0,2489.0,36,5.0,16.0,2000.0,Sep-20
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803,1659.0,2489.0,36,5.0,16.0,2000.0,Sep-20
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999,missing,missing,10,5.71,16.0,3000.0,Apr-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,1219,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685,16018.0,27900.0,61,6.5,64.0,3174.0,Sep-18
1220,1220,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600,21939.0,33720.0,28,6.5,64.0,3174.0,Sep-18
1221,1221,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804,7999.0,9999.0,18,6.26,128.0,3750.0,Nov-19
1222,1222,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755,18500.0,19010.0,2,6.65,128.0,4500.0,Oct-20
1223,1223,Sigma mobile,x-style 35 Screen,missing,952,907,785.0,944.0,75,3.5,missing,1750.0,Jan-20

In [98]:
x=phonedata_missing.drop("release_date",axis=1)
y=phonedata_missing["release_date"]

In [102]:
phonedata_missing.dtypes

Unnamed: 0         int64
brand_name        object
model_name        object
os                object
popularity         int64
best_price         int64
lowest_price      object
highest_price     object
sellers_amount     int64
screen_size       object
memory_size       object
battery_size      object
release_date      object
dtype: object

In [104]:
# Convert categorical variables into numerical using one-hot encoding
x = pd.get_dummies(x, columns=['brand_name', 'model_name', 'os', 'lowest_price',"highest_price",'screen_size','memory_size',"battery_size"], drop_first=True)

In [108]:
x=phonedata_missing.drop("release_date",axis=1)
y=phonedata_missing["release_date"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [112]:
from sklearn.ensemble import RandomForestRegressor
phone_model=RandomForestRegressor()